body {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial;
    background: linear-gradient(180deg, #0f1724, #061022);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25rem;
    margin: 0 auto;
}

#grid img:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.4s ease-in-out;
    filter: opacity(0.7);
}

#grid img[feito] {
    pointer-events: none;
}

h3 {
    font-size: 1.1em;
    color: #b8bfc39f;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

h4 {
    font-size: 1.1em;
    color: #ffffffde;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}
